body {
        font-family: "Roboto", sans-serif;
        color: #434455;
        background-color: #fff;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
        margin-bottom: 0;
        margin-top: 0;
}

ul,
ol {
        list-style-type: none;
        margin-bottom: 0;
        margin-top: 0;
        padding-left: 0;
}

a {text-decoration: none;}

button {cursor: pointer;}

address {
        font-style: normal;
}

img {
        display: block;
        max-width: 100%;
        height: auto;
}

.container {
        width:1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
}

/*===================================================*/

/*======================HEADER=======================*/
.header {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
        
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.header-navigation {
        display: flex;
        align-items: center;
        justify-self: flex-start;
        padding-top: 24px;
        padding-bottom: 24px;
}

.header-logo {
        margin-right: 76px;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;

        }

.header-logo-grey {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
        ;
}


.header-menu-list {
        display: flex;
        gap: 40px;
       
}

.header-menu-item {
        
}

.header-menu-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 27px 0;
}

.header-menu-link:hover, .header-menu-link:focus {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #404bbf;
}

.current {
        position:relative;
        color: #404bbf;
}
.current::after {
        content: "";
        border-radius: 2px;
        width: 100%;
        height: 4px;
        background: #404bbf;
        position:absolute;
        left: 0;
        bottom: -1px;
}
.contact-list {
        display: flex;
        gap: 40px;
}

.contact-list-item {}

.contact-list-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list-link:hover, .contact-list-link:focus {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #404bbf;
   }

/*===================================================*/

/*======================HERO=========================*/

.hero { 
        max-width: 1440px;
        background-color: #2e2f42;
        padding: 188px 0;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/peopleinoffice.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
        
}

.hero-title {
        max-width: 496px;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        margin: 0 auto;
        margin-bottom: 48px;
}

.hero-button {
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        background: #4d5ae5;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        padding: 16px 32px;
        margin: 0 auto;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.hero-button:hover, .hero-button:focus {
        background: #404bbf;
}

.button-text {}

/*===================================================*/

/*======================VALUES=======================*/

.values {
        padding: 120px 0;
}

.values-title {
        
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.values-list {
        display: flex;
        gap: 24px;
}

.values-list-item {
        width: calc((100% - 72px) / 4);
}

.values-subtitle {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.icon-box {
        /* margin:0 auto;
        padding: 24px 100px; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
}
.values-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/*===================================================*/

/*======================TEAM=========================*/

.team {
        padding: 120px 0;
        background: #f4f4fd;}

.team-title {
        margin-bottom: 72px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
}

.team-list {
        display: flex;
        gap: 24px;

}

.team-list-item {
        width: calc((100% - 72px) / 4);
        background-color: #FFFFFF;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 1px 6px rgba(46, 47, 66, 0.08),0px 1px 1px rgba(46, 47, 66, 0.16),0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-contacts {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        flex-direction: row;
        
}

.team-contacts-icons {
        width: 40px;
        height: 40px;
}

.icon {
        fill: #f4f4fd;
}
.team-contacts-link {
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-contacts-link:hover {
        background: #404bbf;
}

.team-contacts-link:focus {
        background: #404bbf;
}
.team-image {}
.team-info {
        padding: 32px 0;

}
.team-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
}

.team-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        margin-bottom: 8px;
}

/*===================================================*/

/*======================PORTFOLIO====================*/

.portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
}

.portfolio-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
}

.portfolio-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
}

.portfolio-list-item {
        width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
        box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),0px 1px 1px rgba(46, 47, 66, 0.16),0px 2px 1px rgba(46, 47, 66, 0.08);
}
        
.image-wrapper {
        position: relative;
        overflow: hidden;
}

.overlay {
        position: absolute;
        top: 0;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding: 40px 32px;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        overflow: auto;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-list-item:hover .overlay,
.portfolio-list-item:focus .overlay {
        transform: translateY(0%);
}

.portfolio-image {}

.portfolio-info {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
}

.portfolio-subtitle {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/*===================================================*/

/*======================FOOTER=======================*/

.footer {
        padding: 100px 0;
        background: #2e2f42;}

.footer-logo {
        display: inline-block;
        margin-bottom: 16px;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.footer .container {
        display: flex;
        align-items: baseline;
        
}

.footer-logo-text {
        margin-right: 120px;
}
.footer-logo-white {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
}

.footer-text {
        max-width: 264px;
        margin-bottom: 16px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #FFFFFF;
}

.footer-social-list {
        width: 208px;
        height: 40px;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 16px;

}

.footer-social-icons {
        width: 40px;
        height: 40px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover, .footer-social-link:focus {
        background-color: #31d0aa;
}

.footer-social {
        
}
.footer-icon {
        fill: #f4f4fd;    
}

.footer-form {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        margin-left: 80px;
}

.footer-input {
        outline: none;
        border: 1px solid #fff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        padding: 16px 8px;
        background-color: transparent;
}
.footer-input::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #fff;
}
.footer-form-button {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 16px;
        border: none;
        border-radius: 4px;
        padding: 8px 24px;
        width: 165px;
        height: 40px;
        background: #4d5ae5;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
        fill: #fff;
}

.footer-form-icon {}

/* ============================MODAL============================== */

.modal-overlay {
        position: fixed;
        top: 0;
        background-color: rgba(46, 47, 66, 0.4);
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
}

.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
}

.modal {
        width: 408px;
        min-height: 584px;
        background-color: #fcfcfc;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 24px;
}

.modal-close {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 24px;
        top: 24px;
        border-radius: 50%;
        background-color: #E7E9FC;
        border: solid 1px #8E8F99;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
        fill: #fff;
        background-color: #4d5ae5;

}
.modal-title {
        font-family: "Roboto", sans-serif;
        max-width: 360px;
        max-height: 24px;
        margin-bottom: 16px;
        margin-top: 48px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.modal-form {}

.modal-field {
        margin-bottom: 8px;
}

.modal-label {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
        color: #8e8f99;
}

.modal-input-wrap {
        position: relative;
}

.modal-input {
        outline: none;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 360px;
        height: 40px;
        padding-left: 38px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
        border-color: #4d5ae5;
}

.modal-input:active {
        border-color: #4d5ae5;
}
.modal-input:focus + .modal-icon {
        fill: #4d5ae5;
}
.modal-icon {
        position: absolute;
        left: 16px;
        top: 8px;
        fill: #2e2f42;
}

.modal-text {
        outline: none;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 360px;
        height: 120px;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        padding: 8px 16px;
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text:focus {
        border-color: #4d5ae5;
}

.modal-text:active {
        border-color: #4d5ae5;
}
.check-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        display:flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        gap: 8px;
        width: 360px;
        height: 16px;

       
}
.check-link {
        line-height: 1.3;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
}
.fake-modal-check {
        width: 16px;
        height: 16px;
        border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        fill: transparent;
        display:flex;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .check-text .fake-modal-check {
        border: none;
        fill: #f4f4fd;
        background-color: #4d5ae5;

}
.form-submit {
        border-radius: 4px;
        border: none;
        padding: 16px 32px;
        width: 169px;
        height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4d5ae5;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
        display:block;
        margin: 24px auto;
}